doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Contrax

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(class="sec1")
        h1 Smart Home
        <img src="images/2.png" width="450px">

      section
        asdknaknsdnkaskndkanskndnaksasnkdnaknskn

      section
        h2 Team Contrax : 
        </br>
        h3(class="nama") Albert Prima Laia (151112891)</br> Benny Wijaya(151112319) </br> Felix Leonardy (151111305) </br> Heru Kurniawan (151110156)
      section
        h2 Intro
        p.bullet Dijaman sekarang orang-orang sangat menginginkan apa saja  secara instan, dan mudah. Teknologi pun mulai ikut serta untuk meujudkannya dengan segala perkembangannya, dimana kita dapat sangat terbantu dengan teknologi modern yang telah ada. Teknologi jaman sekarang dapat membantu kita untuk meningkatkan produktifitas dan efisiensi waktu dalam berbagai hal, baik belajar, bekerja ataupun kegiatan sehari-hari. Berikut kam iakan membahas beberapa teknolog modern yang telah ada sekarang.</br>
      section
        p.bullet Berikut beberapa teknologi yang dapat mempermudah kegiatan manusia, mulai dari segala yang bersifat instan 
        </br>
        ul(class="ul1")
          li 1. Smart Phone
          li 2. Smart TV
          li 3. Smart Car 
          li ... dan masih banyak lagi ...

      section
        p.bullet Adapun begitu banyak fitur yang dapat kita masukkan kedalam Smart Home
        ul(class="ul1")
          li 1. Pencahayaan 
          li 2. Keamanan
          li 3. Temperatur
          li 4. Sumber Daya
          li 5. Hiburan
          li 6. Alarm 
          li 7. Status Sistem
          li ... dan masih banyk fitur lain ...
        p.bullet dimana semua dapat di kendalikan baik dari SmartPhone anda maupun desktop yang telah di set 

      section
        h2.bullet Pencahayaan
        <img src="images/1.jpg" width="450px">
        ul 
          li Sebuah bagian penting dalam bangunan. Pengguna dapat mengatur waktu menyalakan dan mematikan lampu dan  pengubahan pengaturan cahaya  


      section
        h2.bullet keamanan 
        <img src="images/3.jpg" width="450px">
        ul
          li Dimana kita dapat mengatur sebuah keamanan di dalam rumah dan sekitar daerah tempat tinggal atau rumah kita tentang hal - hal yang dianggap mencurigakan 
        
      section
        h2.bullet Temperatur 
        <img src="images/4.jpg" width="300px">
        ul
          li Dapat mengatur suhu rumah sesuai dengan keinginan seperti misalnya di luar sedang dingin maka secara otomatis maka suhu dalam rumah dapat berlahan menjadi hangat maupun sebaliknya...
       
      section
        h2.bullet Sumber Daya
        <img src="images/5.png" width="150px">
        ul 
          li Kita dapat menghemat daya yang dipakai oleh alat elektronik yang telah sycron dengan sistem Smart Home yang telah kita build.

      section
        h2.bullet Hiburan
        <img src="images/6.jpg" width="450px">
        ul
          li Dimana kita telah mengetahui sekarang mulai banyak device modern yang dapat menyajikan begitu banyk hiburan , contoh dari device ini adalah Smart TV yang telah banyak dikembangkan
      
      section
        <img src="images/thanks.gif" width="600px">

        
    script(src='build/build.js')